./.git
./.agents
./.claude
./.codex
./.gitfox
./build
./Jenkinsfile
./Makefile
./config/db.php
./config/my.php
./tmp
./test/runtime
./test/www
./tools
./release
./www/checklist.php
./www/data
./www/install.php
./www/ok.txt
./www/upgrade.php
./www/xhprof
