config/db.php
my.php
www/data/
www/install.php
www/upgrade.php
www/checklist.php
www/ok.txt
www/xhprof
tools/*
release/*
tmp/*
tmp/log/*
tmp/model/*
tmp/cache/*
tmp/extension/*
extension/pro/*
extension/biz/*
extension/max/*
extension/xuan/*
extension/custom/*
!extension/custom/objecteffort/
!extension/custom/objecteffort/**
!extension/custom/workflowflowchart/
!extension/custom/workflowflowchart/**
!extension/custom/admin/
!extension/custom/admin/ext/
!extension/custom/admin/ext/config/
!extension/custom/admin/ext/config/workflowflowchart.php
!extension/custom/admin/ext/lang/
!extension/custom/admin/ext/lang/*/
!extension/custom/admin/ext/lang/*/workflowflowchart.php
!extension/custom/common/
!extension/custom/common/ext/
!extension/custom/common/ext/lang/
!extension/custom/common/ext/lang/*/
!extension/custom/common/ext/lang/*/workflowflowchart.php
!extension/custom/bug/
!extension/custom/bug/ext/
!extension/custom/bug/ext/view/
!extension/custom/bug/ext/view/*objecteffort*.php
!extension/custom/bug/ext/ui/
!extension/custom/bug/ext/ui/*objecteffort*.php
!extension/custom/bug/ext/ui/*workflowflowchart*.php
!extension/custom/bug/ext/view/*workflowflowchart*.php
!extension/custom/bug/ext/model/
!extension/custom/bug/ext/model/hook/
!extension/custom/bug/ext/model/hook/*workflowflowchart*.php
!extension/custom/story/
!extension/custom/story/ext/
!extension/custom/story/ext/view/
!extension/custom/story/ext/view/*objecteffort*.php
!extension/custom/story/ext/ui/
!extension/custom/story/ext/ui/*objecteffort*.php
!extension/custom/story/ext/ui/*workflowflowchart*.php
!extension/custom/story/ext/view/*workflowflowchart*.php
!extension/custom/story/ext/model/
!extension/custom/story/ext/model/hook/
!extension/custom/story/ext/model/hook/*workflowflowchart*.php
!extension/custom/story/ext/control/
!extension/custom/story/ext/control/hook/
!extension/custom/story/ext/control/hook/*workflowflowchart*.php
!extension/custom/execution/
!extension/custom/execution/ext/
!extension/custom/execution/ext/tao/
!extension/custom/execution/ext/tao/hook/
!extension/custom/execution/ext/tao/hook/*objecteffort*.php
!extension/custom/program/
!extension/custom/program/ext/
!extension/custom/program/ext/tao/
!extension/custom/program/ext/tao/hook/
!extension/custom/program/ext/tao/hook/*objecteffort*.php
!extension/custom/project/
!extension/custom/project/ext/
!extension/custom/project/ext/model/
!extension/custom/project/ext/model/hook/
!extension/custom/project/ext/model/hook/*objecteffort*.php
!extension/custom/product/
!extension/custom/product/ext/
!extension/custom/product/ext/view/
!extension/custom/product/ext/view/*objecteffort*.php
!extension/custom/product/ext/ui/
!extension/custom/product/ext/ui/*objecteffort*.php
!extension/custom/projectstory/
!extension/custom/projectstory/ext/
!extension/custom/projectstory/ext/view/
!extension/custom/projectstory/ext/view/*objecteffort*.php
!extension/custom/projectstory/ext/ui/
!extension/custom/projectstory/ext/ui/*objecteffort*.php
!extension/custom/execution/ext/view/
!extension/custom/execution/ext/view/*objecteffort*.php
!extension/custom/execution/ext/ui/
!extension/custom/execution/ext/ui/*objecteffort*.php
!extension/custom/group/
!extension/custom/group/ext/
!extension/custom/group/ext/lang/
!extension/custom/group/ext/lang/*/
!extension/custom/group/ext/lang/*/*objecteffort*.php
!extension/custom/group/ext/lang/*/*workflowflowchart*.php
!extension/custom/action/
!extension/custom/action/ext/
!extension/custom/action/ext/lang/
!extension/custom/action/ext/lang/*/
!extension/custom/action/ext/lang/*/*objecteffort*.php
!extension/custom/action/ext/lang/*/*workflowflowchart*.php
!extension/custom/action/ext/model/
!extension/custom/action/ext/model/hook/
!extension/custom/action/ext/model/hook/*objecteffort*.php
test/data/sql/
.bak
.idea
.tree
.vscode
.gitignore
.DS_Store
docker
.docker-sync
CodeSniffer.conf
test/runtime
test/runtime/*
test/www
!/**/.gitkeep
.scannerwork
bin/roadrunner/rr
rr
build/*.gz

**/test/model/data/*.yaml
**/test/model/data/sql/*.sql
**/test/tao/data/*.yaml
**/test/tao/data/sql/*.sql
**/test/zen/data/*.yaml
**/test/zen/data/sql/*.sql
**/metric/test/calc/**/data/*.yaml
**/metric/test/calc/**/data/sql/*.sql

# ignore xuan files during development
config/ext/_*.php
config/ext/xxb*.php
config/ext/xuan*.php
framework/xuanxuan.class.php
lib/phpaes/
www/x.php
